<script>
    $(document).ready(function () {
        //

    }); //
    $(window).load(function () {
        //

    }); //
</script>

<div class="hl3"></div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="box1">

                    <h1>Our Menu</h1>

                    <ul class="thumbnails thumbnails2">
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu01.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu02.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu03.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu04.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu05.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="~/images/menu06.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit  <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="span4">
                <div class="box2">
                    <div class="box2_title"><h3>Special Dishes</h3></div>
                    <div class="box2_inner">

                        <div class="thumb4">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="~/images/menu07.jpg" alt=""></figure>
                                <div class="caption">
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="thumb4 last">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="~/images/menu07.jpg" alt=""></figure>
                                <div class="caption">
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt <a href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>