@{
    ViewData["Title"] = "Home Page";
}


<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="box1">

                    <h1>Little About Us</h1>

                    <h4>
                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </h4>

                    <p>
                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. <br>Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed,
                        dignissim et, est. Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu
                        libero consectetuer massa, auctor aliquet mauris ligula id ipsum.
                    </p>

                    <div class="text-right"><a href="#" class="button1">read more<em></em></a></div>

                    <h2>Our Staff</h2>

                    <ul class="thumbnails thumbnails1">
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="https://via.placeholder.com/214x200" alt=""></figure>
                                <div class="caption">
                                    <div class="txt1">Jeromy Miller</div>
                                    <div class="txt2">Chef</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="https://via.placeholder.com/214x200" alt=""></figure>
                                <div class="caption">
                                    <div class="txt1">Mark Williams</div>
                                    <div class="txt2">Sous-chef</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="https://via.placeholder.com/214x200" alt=""></figure>
                                <div class="caption">
                                    <div class="txt1">Monica Smith</div>
                                    <div class="txt2">Administrator</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="box2">
                    <div class="box2_title">
                        <h3>Services</h3>
                    </div>
                    <div class="box2_inner">
                        <ul class="ul0">
                            <li><a href="#">Celebration Cakes</a></li>
                            <li><a href="#">Cupcakes</a></li>
                            <li><a href="#">Biscuits & Favours</a></li>
                            <li><a href="#">Chocolates & Cookies</a></li>
                            <li><a href="#">Strawberry Cakes</a></li>
                            <li><a href="#">Flavor Cakes</a></li>
                            <li><a href="#">Wedding Cakes</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="caroufredsel_slider">
                    <div class="txt1">What people say</div>
                    <a class="prev_testimonial" href="#"></a>
                    <a class="next_testimonial" href="#"></a>
                    <div class="testimonial_corner"></div>
                    <ul id="caroufredsel" class="clearfix">
                        <li>
                            <div class="testimonial1">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt...
                            </div>
                        </li>
                        <li>
                            <div class="testimonial1">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt...
                            </div>
                        </li>
                        <li>
                            <div class="testimonial1">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt...
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>