@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout2";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="box1">

                    <h1>Little About Us</h1>

                    <h4>
                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </h4>

                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded"><img src="https://via.placeholder.com/218x167" alt=""></figure>
                            <div class="caption">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisic t conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    al ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing
                                    elit.
                                </p>
                                <p>
                                    <a href="#">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </a>
                                </p>
                                <div class="text-right"><a href="#" class="button1">read more<em></em></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="span4">
                <div class="box2">
                    <div class="box2_title">
                        <h3>Services</h3>
                    </div>
                    <div class="box2_inner">
                        <ul class="ul0">
                            <li><a href="#">Celebration Cakes</a></li>
                            <li><a href="#">Cupcakes</a></li>
                            <li><a href="#">Biscuits & Favours</a></li>
                            <li><a href="#">Chocolates & Cookies</a></li>
                            <li><a href="#">Strawberry Cakes</a></li>
                            <li><a href="#">Flavor Cakes</a></li>
                            <li><a href="#">Wedding Cakes</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>