<script>
    $(document).ready(function () {
        //

    }); //
    $(window).load(function () {
        //

    }); //
</script>



<div id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="box1">

                    <h1>About Services</h1>

                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded"><img src="~/images/services01.jpg" alt=""></figure>
                            <div class="caption">
                                <h4>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                </p>
                                <div class="text-right"><a href="#" class="button1">read more<em></em></a></div>
                            </div>
                        </div>
                    </div>





                    <h2>Services Overview</h2>

                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded"><img src="~/images/services02.jpg" alt=""></figure>
                            <div class="caption">
                                <h4>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   <a href="#">read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded"><img src="~/images/services03.jpg" alt=""></figure>
                            <div class="caption">
                                <h4>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   <a href="#">read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                           <figure class="img-polaroid img-rounded"><img src="~/images/services04.jpg" alt=""></figure>
                            <div class="caption">
                                <h4>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   <a href="#">read more</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="span4">
                <div class="box2">
                    <div class="box2_title"><h3>Services</h3></div>
                    <div class="box2_inner">
                        <ul class="ul0">
                            <li><a href="#">Celebration Cakes</a></li>
                            <li><a href="#">Cupcakes</a></li>
                            <li><a href="#">Biscuits & Favours</a></li>
                            <li><a href="#">Chocolates & Cookies</a></li>
                            <li><a href="#">Strawberry Cakes</a></li>
                            <li><a href="#">Flavor Cakes</a></li>
                            <li><a href="#">Wedding Cakes</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box3">

                    <h5>Best Services</h5>

                    <div class="thumb3 last">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded"><img src="~/images/services05.jpg" alt=""></figure>
                            <div class="caption">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt...   <a href="#">read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>