@model IEnumerable<Cake_Cafe.Models.Product>



<script>
    $(document).ready(function () {
        //

    }); //
    $(window).load(function () {
        // isotop
        var $container = $('#isotope-items'),
            $optionSet = $('#isotope-options'),
            $optionSets = $('#isotope-filters'),
            $optionLinks = $optionSets.find('a');
        $container.isotope({
            filter: '*',
            layoutMode: 'fitRows'
        });
        $optionLinks.click(function () {
            var $this = $(this);
            // don't proceed if already selected
            if ($this.hasClass('selected')) {
                return false;
            }
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');

            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector
            });
            return false;
        });
        $(window).on("resize", function (event) {
            $container.isotope('reLayout');
        });

        // touchTouch
        $('.thumb-isotope .thumbnail a').touchTouch();

    });
</script>



<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="box1">

                    <h1>Our Cakes</h1>

                    <ul class="thumbnails thumbnails-iisotope" id="isotope-items">
                        @foreach (var item in Model)
                        {
                            <li class="isotope-element isotope-filter1">
                                <div class="thumb-isotope">
                                    <div class="thumbnail clearfix">
                                        <a href="@item.Photo">
                                            <figure>
                                                <img src="@item.Photo" alt=""><em></em>
                                            </figure>
                                            <div class="caption">
                                                @item.ProductName <br/>
                                                Fiyat: @item.Price ₺
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>